---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Can Blanch">
  <main class="flex flex-col w-full h-dvh justify-center items-center gap-4">
    <h1 class="text-2xl text-center font-bold">Elige tu idioma</h1>
    <h1 class="text-2xl text-center font-bold">Choose your language</h1>
    <h1 class="text-2xl text-center font-bold">Choisissez votre langue</h1>

    <a href="/canblanch_privada/esp">
      <img src="/flags/es.svg" alt="Spanish Flag" class="w-28 h-28" />
    </a>
    <a href="/canblanch_privada/eng">
      <img src="/flags/gb.svg" alt="English Flag" class="w-28 h-28" />
    </a>
    <a href="/canblanch_privada/fra">
      <img src="/flags/fr.svg" alt="French Flag" class="w-28 h-28" />
    </a>
  </main>
</Layout>

<style></style>
