<div class="absolute z-50 top-0 right-0 flex p-1.5 gap-3">
  <a href="/">
    <img src="/flags/es.svg" alt="Spanish Flag" class="w-5 h-5" />
  </a>
  <a href="/eng">
    <img src="/flags/gb.svg" alt="English Flag" class="w-5 h-5" />
  </a>
  <a href="/fra">
    <img src="/flags/fr.svg" alt="French Flag" class="w-5 h-5" />
  </a>
</div>

<style>
  
</style>
