---
const { bienvenida } = Astro.props;
const { titulo, texto } = bienvenida;
---

<div class="container">
  <h2 class="title">{titulo}</h2>
  <div class="decorationContainer">
  <div class="lineDecoration"></div>  
  </div>
  <p set:html={texto} class="text" />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100vw;
  }

  .title {
    text-align: start;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  .decorationContainer {
    width: 100%;
    height: 2%;
    margin-bottom: 25px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  .lineDecoration {
    width: 30%;
    height: 3px;
    background-color: var(--primary);
  }

  .text {
    font-size: 14px;
    text-align: justify;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 35px;
      margin-left: 20px;
    }
    .decorationContainer {
      margin-left: 20px;
    }
    .text {
      margin-left: 20px;
      font-size: 15px;
    }
  }

  @media (min-width: 1024px) {
    .title {
      font-size: 40px;
      margin-left: 40px;
    }
    .decorationContainer {
      margin-left: 40px;
    }
    .text {
      margin-left: 40px;
      font-size: 17px;
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
    
  }
</style>
