---
const { bienvenida } = Astro.props;
const { titulo, texto } = bienvenida;
---

<div class="container">
  <h2 class="title">{titulo}</h2>
  <p set:html={texto} class="text" />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 16px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  .title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }

  .text {
    font-size: 14px;
    text-align: justify;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
    
  }
</style>
