---
const { enlace } = Astro.props;
---

<button type="button">
  <a href={enlace} target="_blank">
    <slot />
  </a>
</button>

<style>
  button {
    transition: transform 0.3s ease-in-out;
    background-color: var(--primary);
    color: var(--negro);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
    border-radius: 0.5rem;
    outline: 0;
  }

  button:hover {
    transform: scale(1.1);
  }
</style>
