---
const { data } = Astro.props;
const {  } = data;
---

<div class="flex flex-col place-items-center py-2 px-6 rounded-lg bg-primary text-blanco">
  <h1 class="text-2xl font-semibold">WIFI</h1>
  <p class="text-base text-pretty">
   <strong>network:</strong>  refugiocanblanch
  </p>
  <p class="text-base text-pretty">
    <strong>Password:</strong>: 29318231089
  </p>
</div>