---
const { descripcion } = Astro.props;
const { titulo, subtitulo, lista } = descripcion;
---

<div>
  <div class="contenedor">
    <h1 class="title">{titulo}</h1>
    <p class="subtitle">
      {subtitulo}
    </p>
  </div>
  <ul class="list">
    {
      lista.map((item, index) => (
        <li class="list-item" key={index}>
          {item}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }
  .title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 14px;
    text-align: justify;
  }

  .list {
    text-align: left;
    padding: 0 16px;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
    
  }

</style>
