---
const { descripcion } = Astro.props;
const { titulo, subtitulo, lista } = descripcion;
---

<div>
  <div class="contenedor">
    <h2 class="title">{titulo}</h2>
    <p class="subtitle">
      {subtitulo}
    </p>
  </div>
  <ul class="list">
    {
      lista.map((item, index) => (
        <li class="list-item" key={index}>
          {item}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .title {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 14px;
    text-align: start;
  }

  .list {
    text-align: left;
    padding: 0 16px;
  }

</style>
