<section>
    <div>
        <p>Can Blanch</p>
        <a href="https://www.airbnb.es/rooms/1027582229765153879?check_in=2024-03-17&check_out=2024-03-22&guests=1&adults=1&s=67&unique_share_id=77e201ad-ba99-4bdd-8233-c51e79528b9e">Airbnb</a>
    </div>
    <div>
        <p>Sant Feliu de Codines</p>
    </div>
</section>

<style>
    section {
        width: 100%;
        height: 150px;
        background-color: var(--primary);
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
    }

    div {
       margin-top: 30px;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        margin: 5px 0;
    }

    @media (min-width: 768px) {
    p, a {
      font-size: 17px;
    }
  }

  @media (min-width: 1024px) {
    p, a {
      font-size: 19px;
    }
  }

</style>