---
const { data } = Astro.props;
const { tituloQuienesSomos, textoQuienesSomos } = data;
---

<div class="flex flex-col place-items-center p-4">
  <h1 class="text-2xl font-semibold">{tituloQuienesSomos}</h1>
  <p class="text-sm text-pretty">
    {textoQuienesSomos}
  </p>
</div>
