---
const { slider } = Astro.props;
const { titulo, subtitulo, botonCTA } = slider;
import BotonReservar from "./BotonReservar.astro";
---

<div class="bigContainer">
  <div class="container">
    <h1 class="title">
      {titulo}
    </h1>
    <p class="subtitle">
      {subtitulo}
    </p>
    <div class="lineDecoration"></div>
    <br>
    <div class="buttonContainer">
      <BotonReservar>
      {botonCTA}
    </BotonReservar>
    </div>
  </div>
  <div>
    <img src="/images/foto2.webp" alt="" />
  </div>
</div>

<style>
  .bigContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .container {
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
    padding: 8px;
    --tw-bg-opacity: 0.5;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: show 2s ease-in-out 1s forwards;
  }

  .title {
    margin-bottom: 5px;
    font-size: 29px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.025em;
    color: #ffffff;
    text-align: center;
  }

  .lineDecoration {
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: var(--primary);
    right: 1%;
    top: 55%;
    animation: entry 2s ease-in-out 2s forwards;
  }

  .subtitle {
    margin-bottom: 16px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
  }

  .buttonContainer {
    margin-top: 5%;
  }

  img {
    height: 90vh;
    object-fit: cover; 
    animation: show 1s ease-in-out;
  }
  
  @keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes entry {
  from {
    left: 74%;
  }
  to {
    left: 3%;
  }
}

  @media (min-width: 768px) {
    .title {
      font-size: 40px;
    }

    .subtitle {
      font-size: 30px;
    }
    .lineDecoration {
      top: 60%;
    }
  }

  @media (min-width: 1024px) {
    .title {
      font-size: 60px;
    }
    .subtitle {
      font-size: 35px;
    }
    .container {
      width: 60%;
    }
    .lineDecoration {
      top: 60%;
    }
    img {
      height: 100vh;
      width: 100vw;
    }
  }
</style>
