---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/montserrat";
import "@fontsource/kalam";
import '@fontsource-variable/playfair-display';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="absolute z-50 flex gap-4 p-1 text-blanco">
      <a class="bg-gray-700 px-1 rounded-sm" href="/">Publica</a>
      <a class="bg-gray-700 px-1 rounded-sm" href="/canblanch_privada">Privada</a>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #aadbc1;
    --secondary: #f67caf;
    --blanco: #ffffff;
    --negro: #000000;
  }

  html,
  body {
    font-family: 'Playfair Display Variable', serif;
    position: relative;
    height: 100%;
    color: var(--negro);
    background-color: #F6F9F1;
  }
</style>

<!-- #f0d1c0 -->
<!-- #adc988 -->
<!-- #e0cec5 -->
<!-- E3ECD5 -->
<!-- ECF2E3 -->